.mat-cell{
    font-size:12px;
    display: table-cell;
    height: 48px;
    vertical-align: middle;
    border-top: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    }
.mat-header-cell{
    font-size:12px;
    display: table-cell;
    height: 48px;
    vertical-align: middle;
    border-top: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);

}